#announcer {
  position: fixed;
  height: 0;
  overflow: hidden;
  margin: 0;
}

body {
  margin: 0;
}

#splash {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

@keyframes ldio-2hgp9rk3wnk {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ldio-2hgp9rk3wnk div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-2hgp9rk3wnk 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-2hgp9rk3wnk div:nth-child(1) {
  border-color: #1d3f72;
  animation-delay: 0s;
}
.ldio-2hgp9rk3wnk div:nth-child(2) {
  border-color: #5699d2;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-8fpxb54ybkl {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-2hgp9rk3wnk {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-2hgp9rk3wnk div {
  box-sizing: content-box;
}